<p>
  Вы запросили активацию учётной записи на сайте <a href='<%= root_url %>' title='☯ Соционический каталог'>Соционического каталога</a>.
</p>
<%= render 'activation', activation_code: @activation_code %>