<p>Вы запросили восстановление пароля на сайте <a href='<%= root_url %>' title='☯ Соционический каталог'>Соционического каталога</a>.<br>
</p>
<p>Чтобы продолжить и создать новый пароль, <a href='<%= @url %>' title='сброс пароля'>следуйте по ссылке</a>.</p>
<p>Если передумали, просто удалите это сообщение.</p>