<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать в Соционический каталог, <%= @user.name %>!</h1>
    <p>
      Вы зарегистрировались на сайте <a href='http://localhost:3000'>Соционического каталога</a> с именем <%= @user.name %> и электронной почтой <%= @user.email %>.<br>
    </p>
    <p>
      Чтобы войти на сайт <a href='<%= @url %>'>проследуйте по ссылке</a>.
    </p>
    <p>Успехов!</p>
  </body>
</html>