<p>
  Вы зарегистрировались на сайте <a href='<%= root_url %>' title='☯ Соционический каталог'>Соционического каталога</a> с электронной почтой <span class='smaller email'><%= @user.email %></span>.<br>
</p>
<%= render 'activation', activation_code: @activation_code %>