<p>
  Вы зарегистрировались на сайте <a href='<%= root_url %>' title='☯ Соционический каталог'>Соционического каталога</a> с электронной почтой <span class='smaller email'><%= @user.email %></span>.<br>
</p>
<p>
  Чтобы активировать учётную запись и начать пользоваться сайтом, 
  <a href='<%= activation_response_url(@activation_code) %>' title='активация учётной записи'>пройдите по ссылке</a>.
</p>