<div class='row'>
	<div class='col-md-6 col-md-offset-3 users_list'>
		<ul>
			<li>
				<% bold_start_tag, bold_end_tag = '<b>','</b>' if current_user?(u) %>
				<%= bold_start_tag.to_s.html_safe %>
				<%= link_to u.name, user_path(u) %>
				<%= bold_end_tag.to_s.html_safe %>
			</li>
		</ul>
	</div>
</div>