<% provide(:title,'Регистрация пользователя') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<div class='edit col-md-4 col-md-offset-4'>
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages.html.erb', object:f.object %>
		<%= render 'form', f:f, mode:'create' %>
	<% end %>
</div>