<% provide(:title,'Регистрация пользователя') %>

<h1><%= yield(:title) %></h1>

<%= 
	form_for(@user) do |f|

		f.label :name, 'Имя'
		f.text_field :name, class: 'qwerty'

		f.label :email, 'Электронная почта'
		f.text_field :email

		f.submit 'Создать'
	end 
%>