<legend><%= label_tag 'card[:media]', 'Образец звука', name:'card[media]' %></legend>
<div class='area audio_content'>
	<%= file_field_tag 'card[:media]', accept:'audio/*', name:'card[media]' %>
</div>