<legend><%= label_tag 'card[:content]', 'Образец звука', name:'card[content]' %></legend>
<div class='area audio_content'>
	<%= file_field_tag 'card[:content]', accept:'audio/*', name:'card[content]' %>
</div>