<legend><%= label_tag 'card[:content]', 'Картинка', name:'card[content]' %></legend>
<div class='area image_content'>
	<%= file_field_tag 'card[:content]', accept:'image/*', name:'card[content]' %>
</div>