<legend><%= label_tag 'card_content', 'Фрагмент текста', name:'card[media]' %></legend>
<div class='area text_content'>
	<%= text_area_tag 'card_content', form.object.content(:text), name:'card[media]' %>
</div>