<legend><%= label_tag 'card[:content]', 'Видео', name:'card[content]' %></legend>
<div class='area video_content'>
	<%= file_field_tag 'card[:content]', accept:'video/*', name:'card[content]' %>
</div>