<% mode ||= 'full' %>

<div class='row comfort_buttons'>
	<div class='btn-group pull-right'>

		<% if 'full'==mode then %>
			<%= link_to 'Список', cards_path, class: 'btn btn-primary btn-primary pull-left', title: 'Список карточек' %>
		<% end %>

		<% if signed_in? then %>
			<%= link_to('Новая', new_card_path, class: 'btn btn-success pull-left', title: 'Создать новую карточку') %>
		<% end %>

	</div>
</div>