<h1 class='page_title'><%= yield(:title) %></h1>

<div class='card_edit col-md-8 col-md-offset-2'>
	<table class='kind_selector' align='center' width='100%'>
		<tr>
			<td>
				<a href='?kind=text' title='текстовая карточка'>
					<span class='text_icon glyphicon glyphicon-text-width'></span>
				</a>
			</td>
			<td>
				<a href='?kind=image' title='карточка с картинкой'>
					<span class='picture_icon glyphicon glyphicon-picture'></span>
				</a>
			</td>
			<td>
				<a href='?kind=audio' title='карточка с музыкой'>
					<span class='audio_icon glyphicon glyphicon-music'></span>
				</a>
			</td>
			<td>
				<a href='?kind=video' title='карточка с видео'>
					<span class='video_icon glyphicon glyphicon-film'></span>
				</a>
			</td>
		</tr>
	</table>
</div>