<h4>Выберите тип карточки</h4>
<table class='kind_selector' align='center' width='100%'>
	<tr>
		<td>
			<a href='?kind=text' title='текстовая'>
				<img alt='текст'>
			</a>
		</td>
		<td>
			<a href='?kind=image' title='изображение'>
				<img alt='изображение' href='<%=  %>' title=''>
			</a>
		</td>
		<td>
			<a href='?kind=audio' title='звук'>
				<img alt='звук' href='<%=  %>' title=''>
			</a>
		</td>
		<td>
			<a href='?kind=video' title='видео'>
				<img alt='видео' href='<%=  %>' title=''>
			</a>
		</td>
	</tr>
</table>