<% provide(:title,'Редактирование карточки') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<div class='card_edit span8 offset2'>
    <%= form_for(@obj) do |f| %>
    	<%= render 'shared/error_messages.html.erb', object:f.object %>
    	<%= render 'card_edit', f:f, mode: 'edit', button_text: 'Сохранить' %>
    <% end %>
</div>