<% provide(:title,'Новая карточка') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<div class='card_edit span8 offset2'>
    <%= form_for(@card) do |f| %>
    	<%= render 'card_edit', f:f, mode: 'new', button_text: 'Создать' %>
    <% end %>
</div>