<% provide(:title,'Карточка') %>

<h1 class='page_title'><%= yield(:title) %></h1>

<!--<%= render 'comfort_buttons' %>
<%= render 'display', card: @obj, editable: true %>
<%= render 'bottom_categories', card: @obj %>-->

<div class='card col-md-8 col-md-offset-2'>
	<div class='controls btn-group-vertical pull-right'>
		<a href='#' class='btn btn-default btn-sm'>кнопки</a>
		<a href='#' class='btn btn-default btn-sm'>управления</a>
		<a href='#' class='btn btn-default btn-sm'>карточкой</a>
	</div>
	<div class='title'>заголовокъ карточки</div>
	<div class='content'>содержимое карточки</div>
	<div class='description'>описание</div>
	<div class='categories'>категории</div>
</div>