/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import 'bootstrap';


/* каркас */
.container {
	/*background-color: lightskyblue;*/
}

.main_menu {
	margin-bottom: 20px;

	.glyphicon {
		font-size: 12px;
	}
}

.main_content {
	/*background-color: lightgreen;*/
	/*margin-top: 30px;*/
	margin-bottom: 30px;
}

.page_title {
	text-align: center;
	margin-bottom: 20px;
}

H1 {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3)
}


/* оповещатели */
.alert {
text-align: center;
}
.debug_dump {
background-color: #FBEFD8;
}
.field_with_errors {
	INPUT, TEXTAREA {
		border: 2px dotted red !important;
	}
}


/* вспомогательные */
.centrer { text-align: center; }
.bottom_buttons_holder {
	margin-top: 15px;
}


/* формы редактирования */
.edit_field, .edit_area {
	width:100%;
}
.edit_area {
	/*height:200px;*/
}
.item_user {
	font-size: 75%;
}


/* кнопки удобства */
.comfort_buttons {
	margin-bottom: 20px;
}


/* цвета иконок типа карточки */
.text_icon {
	color: DodgerBlue;
}
.picture_icon {
	color: green;
}
.audio_icon {
	color: hotpink;
}
.video_icon {
	color: blueviolet;
}