/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* каркас */
.container {
	/*background-color: lightskyblue;*/
}

.main_menu {
	margin-bottom: 20px;
}

.main_content {
	/*background-color: lightgreen;*/
	margin-top: 30px;
	margin-bottom: 30px;
}

.page_title {
	text-align: center;
	margin-bottom: 20px;
}


/* разные оповещатели */
.alert {
text-align: center;
}
.debug_dump {
background-color: #FBEFD8;
}
.field_with_errors {
	INPUT, TEXTAREA {
		border: 2px dotted red !important;
	}
}


/* вспомогательные */
.centrer { text-align: center; }
.bottom_buttons_holder {
	margin-top: 15px;
}


/* карточка */
.card_edit_title, .card_edit_content {
width:100%;
}
.card_edit_content {
height:200px;
}


/* список пользователей */
.users_list UL LI {
	list-style-type: none;
	border-bottom: 1px solid lightgrey;
}

/* профиль пользователя */
.profile_edit_button {
	text-align: center;
}
