// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$card_title: #ececec;

.card {
	border: 2px outset grey;
	border-radius: 8px;
	padding: 4px;

	.kind {
		margin: 4px;
	}

	.title {
		padding: 4px 20px;
		font-family: serif;
		font-weight: normal;
		font-style: italic;
		font-size: 20px;
		background-color: skyblue;
		text-align: center;
	}

	.content {
		padding: 2px;
		background-color: palegreen;

		.area {
			clear: both;
			border-radius: 6px;
			margin: 10px;
			padding: 4px 10px;

			.caption {
				font-style: italic;
			}
		}

		.text_content {
			background-color: white;
		}

		.image_content {
			background-color: dimgrey;
			color: white;
		}

		.audio_content {
			background-color: pink;
		}

		.video_content {
			background-color: plum;
		}

		.unknown_content {
			background-color: khaki;
			color: peru;
		}
	}

	.description {
		padding: 4px 10px;
		background-color: gainsboro;
	}
	
	.categories {
		padding: 0px 10px;
		text-align: right;

		.badge {
			background-color: darkturquoise;
		}
	}
	
	.controls {}
}

.card_edit {

	.title {
		INPUT {
			width: 100%;
		}
	}

	.content, .description {
		TEXTAREA {
			width: 100%;	
			min-height: 100px;
			height: 140px;
			padding: 4px;
		}
	}

	.categories {
		.item {
			background-color: lightcoral;
			color: white;

			font-style: italic;
			font-family: serif;

			margin-right: 10px;
			padding: 0px 8px 0px 6px;
			border-radius: 3px;

			INPUT {
				margin-right: 2px;
			}
		}
	}

	.content {
		margin-top: 16px;
	}
	.controls{
		margin-top: 16px;
	}

	FIELDSET {
		margin-top: 12px;
	}

	LEGEND {
		margin-bottom: 0px;
		border-bottom-style: none;
	}

	LABEL {
		margin-bottom: 0px;
		font-weight: normal;
	}
}

.cards_index {
	LI {
		list-style-type: none;
		border-bottom: 1px dotted lightgrey;
		margin-bottom: 1%;
	}

	.badge {
		font-weight: normal;
		font-size: 80%;
		background-color: rgba(160,160,160,0.8);
	}
}

