// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$card_title: #ececec;

.card {
	margin-bottom: 10px;
	border: 1px outset gray;
	border-radius: 9px;
	padding: 6px 11px;
	
	LEGEND {
		margin-bottom: 5px;
		margin-left: 5px;
		
		border-radius: 4px;
		border: 1px solid $card_title;
		
		width: auto;
		
		line-height: 1em;
		padding: 4px 10px;

		background-color: $card_title;

		font-size: 18px;
	}

	.buttons_container {
		margin-left: 9px;
		A { margin-bottom: 3px; }
	}
}

.card_categories {
	width: 80%;
	margin: 20px auto;
	padding: 6px 16px;

	.title {
		float: left;
		background-color: palegreen;
		padding-right: 8px;
		margin-right: 4px;
		color: darkgreen;
	}

	A {
		margin: auto 2px;
	}
}