// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$card_title: #ececec;

.card {
	border: 2px outset grey;
	border-radius: 8px;
	padding: 4px;

	.title {
		background-color: skyblue;
		text-align: center;
	}

	.content, .description {
		padding: 10px;
	}
	.content {
		background-color: palegreen;
	}
	.description {
		background-color: gainsboro;
	}
	.categories {
		padding: 0px 10px;
		text-align: right;
	}
	.controls {}
}



.card_categories {
	width: 80%;
	margin: 20px auto;
	padding: 6px 16px;

	.title {
		float: left;
		background-color: palegreen;
		padding-right: 8px;
		margin-right: 4px;
		color: darkgreen;
	}

	.badge {
		padding-right: 4px;
	}

	A {
		margin: auto 2px;
		color: white;
	}

	.delete_link {
		font-size: 17px;
	}
}