<div class='area image_content'>
	<% if value.nil? %>
		<%= render 'cards/content/display/none' %>
	<% else %>
		<%= link_to value.url do %>
			<%= image_tag value.url(:medium), class:'img-thumbnail' %>
		<% end %>
	<% end %>
</div>