<% if signed_in? %>
	<% if current_user.admin? %>
		<div class='btn-group pull-right'>
			<%= link_to edit_category_path(obj.id), title:'Изменить', class:'btn btn-mini btn-info' do %>
				<i class='icon icon-edit'></i>
			<% end %>

			<%= link_to category_path(obj.id), title:'Удалить', method:'delete', class:'btn btn-mini btn-danger' do %>
				<i class='icon icon-remove'></i>
			<% end %>
		</div>
	<% end %>
<% end %>