<% provide(:title,"Изменение раздела «#{@obj.name}»") %>

<h1 class='page_title'><%= yield(:title) %></h1>

<div class='edit col-md-8 col-md-offset-2'>
    <%= form_for(@obj) do |f| %>
    	<%= render 'shared/error_messages.html.erb', object:f.object %>
    	<%= render 'form', f:f, mode: 'edit', button_text: 'Сохранить' %>
    <% end %>
</div>