<% provide(:title,'Категории') %>

<h1 class='page_title'><%= yield(:title) %></h1>


<div class='span8 offset2'>
	<%= render 'comfort_buttons' %>
	<ul>
		<% @list.each do |ctg| %>
			<li id='category_list_item<%= ctg.id %>'>
				<%= link_to ctg.name, category_path(ctg.id) %>
			</li>
		<% end %>
	</ul>
</div>